*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: aliceblue;
}
.container{
	text-align: center;
	margin-top: 23px;
}
.calculator{
	height: 400px;
	width: 300px;
}
.calculator .ip{
	width: 250px;
	text-align: right;
}
table{
	margin: auto;
}
input{
	border-radius: 3px;
	border: 1px solid #f3f3f3;
	font-size: 34px;
}
button{
	font-size: 23px;
	background: rgb(255, 255, 255);
	width: 50px;
	height: 50px;
    margin: 6px;
	border: 0px;
    border-radius: 2px;
}
.calculator{
	display: inline-block;
    background-color: #f8d1fc;
    padding: 23px;
    border-radius: 4px;
}
.h1{
    font-size: 28px;
    font: bold;
}
